hr {
    height: 5px;
    background-color: black;
    border-radius: 5px;
    width: 80%;
    margin-left: -1px;
}

nav ul li {
    list-style-type: none;
}

body {
    font-family: sans-serif;
}


h2 {
    color: rgb(132, 199, 32);
}

h3 {
    color: rgb(49, 110, 180);
}